{% extends 'base.html'%} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/checkout.css') }}" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
{% endblock head %} {% block body %}
<div class="container" style="max-width: 960px; margin-bottom: 30px">
  {% if cartPrice == 0 %}
  <div class="row">
    <div class="col col-lg-12">
      <p> Your Cart is Empty, Add Items to your cart </p>
      <a href=" {{ url_for('product')}} ">Products</a>
    </div>
  </div>
  {% else %}
  <div class="py-5 text-center">
    <h2>Checkout form</h2>
    <p class="lead">
      <b>Please Enter your Shipping And Payment Details Below To Confirm Your
        Order.</b>
    </p>
  </div>
  <!-- Start of cart details -->
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">3</span>
      </h4>
      <ul class="list-group mb-3 sticky-top">
        {% for cartItem in cart %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Product name</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">₹ Price</span>
        </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (in Rupees)</span>
          <strong>₹ total Price</strong>
        </li>
      </ul>

      <div class="input-group-append">
        <button type="submit" class="btn btn-secondary" style="margin-left: 10 px; background-color: lightgreen">
          <a href="{{ url_for('cart') }}"> ← Go Back To Cart</a>
        </button>
      </div>
    </div>
    <!-- end of cart details  -->

    <!-- start of shipping details -->
    <div class="col-md-8 order-md-1">
      <form class="needs-validation" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="container1">
          <h4 class="mb-3" style="padding-top: 15px">Billing address</h4>
          <div class="form">
            <div class="fields fields--2">
              <label class="field">
                {{ form.firstName.label(class="field__label", for="firstname") }}
                {{ form.firstName(class="field__input", id="firstname") }}
                {% for error in form.firstName.errors %}
                <p style="color:#ec4646;">{{ error }}</p>
                {% endfor %}
              </label>
              <label class="field">
                {{ form.lastName.label(class="field__label", for="lastname") }}
                {{ form.lastName(class="field__input", id="lastname") }}
                {% for error in form.lastName.errors %}
                <p style="color:#ec4646;">{{ error }}</p>
                {% endfor %}
              </label>
            </div>
            <label class="field">
              {{ form.address.label(class="field__label", for="address") }}
              {{ form.address(class="field__input", id="address") }}
              {% for error in form.address.errors %}
              <p style="color:#ec4646;">{{ error }}</p>
              {% endfor %}
            </label>
            <label class="field">
              {{ form.company.label(class="field__label", for="Company") }}
              {{ form.company(class="field__input", id="Company") }}
              {% for error in form.company.errors %}
              <p style="color:#ec4646;">{{ error }}</p>
              {% endfor %}
            </label>
            <label class="field">
              <span class="field__label" for="country">Country</span>
              <span class="field__label" for="country">India</span>
            </label>
            <label class="field">
              {{ form.mobileNumber.label(class="field__label", for="mobileNumber") }}
              {{ form.mobileNumber(class="field__input", id="mobileNumber") }}
              {% for error in form.mobileNumber.errors %}
                <p style="color:#ec4646;">{{ error }}</p>
              {% endfor %}
            </label>
            <div class="fields fields--3">
              <label class="field">
                {{ form.pincode.label(class="field__label", for="pincode") }}
                {{ form.pincode(class="field__input form-control", id="pincode") }}
                {% for error in form.pincode.errors %}
                  <p style="color:#ec4646;">{{ error }}</p>
                {% endfor %}
              </label>
              <label class="field">
                {{ form.city.label(class="field__label", for="city") }}
                {{ form.city(class="field__input form-control", id="city") }}
                {% for error in form.city.errors %}
                <p style="color:#ec4646;">{{ error }}</p>
                {% endfor %}
              </label>
            </div>
          </div>
        </div>

        <!-- payment options -->
        <hr class="mb-4" />
        <h4 class="mb-3">Payment</h4>
        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" required="" disabled />
            <label class="custom-control-label" for="credit" style="font-size: 19px">Credit card</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="" disabled />
            <label class="custom-control-label" for="debit" style="font-size: 19px">Debit card</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="paytm" name="paymentMethod" type="radio" class="custom-control-input" required="" disabled />
            <label class="custom-control-label" for="paypal" style="font-size: 19px">PayTm</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="COD" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="" />
            <label class="custom-control-label" for="Cash" style="font-weight: bolder; font-size: 19px">Cash On
              Delivery</label>
            <p style="font-size: 16px; font-weight: var(--color-gray)">
              *The Online Payment Gateway Is Under Maintenance, Only COD mode of
              payment is Available As of now.Sorry For The Inconvenience
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name"> <strike>Name on card</strike></label>
            <input type="text" class="form-control" id="cc-name" placeholder="" required="" disabled />
            <small class="text-muted">Full name as displayed on card</small>
            <div class="invalid-feedback">Name on card is required</div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number"><strike>Credit card number</strike></label>
            <input type="text" class="form-control" id="cc-number" placeholder="" required="" disabled />
            <div class="invalid-feedback">Credit card number is required</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-expiration"><strike>Expiration</strike></label>
            <input type="text" class="form-control" id="cc-expiration" placeholder="" required="" disabled />
            <div class="invalid-feedback">Expiration date required</div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-cvv"><strike>CVV</strike></label>
            <input type="text" class="form-control" id="cc-cvv" placeholder="" required="" disabled />
            <div class="invalid-feedback">Security code required</div>
          </div>
        </div>
        <!-- End of Payment Options -->
        <hr class="mb-4" />
        {{ form.submit(class="btn btn-success btn-lg btn-block") }}
      </form>
    </div>
    <!-- End of Shipping Details -->
  </div>
  {% endif %}
</div>
{% endblock body %}