{% extends 'base.html'%}

{% block head%}
{% endblock %}
{% block body%}
<style>
  hr.new1 {
    border-top: 2px dashed rgb(8, 8, 8);
  }
</style>

<body>
  <!-- Purchase and Image Logo -->

  <div style="width:50%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin: 2% auto; ">
    <div class="card-header bg-white" style="margin-bottom: 12px;">
      <div class="media flex-sm-row flex-column-reverse justify-content-between ">

        <h4 style="color: rgb(26, 23, 23); margin-top: 49px; font-weight:bolder;">Your Purchases</h4>

        <div class="col-auto text-center my-auto pl-0 pt-sm-4"> <img class="img-fluid my-auto align-items-center mb-0 pt-3" src="{{url_for('static', filename='images/orders/h1.png')}}" width="231" height="250">
        </div>
      </div>
    </div>

    <div class="for-loop">
      {% for item in shoppedItems %}
      {% if item|length > 1%}
      <div class="container">
        <!-- Loop through Purchased items -->

        <!-- Start of Purchase Orders -->
        {% for order in item %}
        <div class="card flex-md-row mb-4 box-shadow ">

          <!-- Image of the item -->
          <img class="card-img-right flex-auto d-none d-md-block" alt="Thumbnail [200x250]" style="width: 210px; height: 200px;" src="{{url_for('static', filename='images/product_images/' + order.product_image )}}" data-holder-rendered="true">
          <div class="card-body d-flex flex-column align-items-start" style="margin-left: 30px;">

            <h3 class="mb-0 text-dark" style="font-size: 25px;">
              {{ order.product_name}}
              <!-- Product Name -->
            </h3>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Quantity</th>
                  <th scope="col">Invoice Number</th>
                  <th scope="col">Mode Of Payment</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">{{ order.product_quantity }}</td> <!-- Quantity -->
                  <td>{{ order.invoiceNumber }}</td> <!-- Invoice Number -->
                  <td>COD</td>
                </tr>
              </tbody>
            </table>

            <!-- Price  -->
            <div class="d-flex flex-row justify-content-between align-items-center order">
              <div class="d-flex flex-column order-details">
                <h4 class="mt-3 mb-4 bold">
                  <span class="mt-5">&#x20B9; {{ order.product_price }}</span> <!-- Total Price for a item -->
                  <span class="small text-muted">
                    (Incl.Gst)
                  </span>
                </h4>
              </div>
            </div>
                    <!-- End of Price -->
          </div> <!-- closing of card-body -->
        </div> <!-- closing of card- flex -->
        
      </div> <!-- closing of container -->
        {% endfor %}
      <div class="container-fluid">

        <div class="d-flex justify-content-between">
          <span class="theme-color" style="font-size: 21px; font-weight: bolder;">
            Payment Summary
          </span>
          <div class="tracking-details">
            <form method="post" novalidate>
              {{ form.cancelOrder(class="btn btn-danger") }}
              <input type="hidden" name="cancelPurchase" value="{{checkedOutTime[loop.index -1] }}">
            </form>
          </div>
        </div>
        
        <div class="mb-3">
          <hr class="new1">
        </div>

        <article class="card">
          <div class="card-body row">
            <div class="col"> <strong>Order Placed On:</strong> <br>{{ checkedOutTime[loop.index -1].strftime("%d %b %Y %H:%M") }} </div> <!-- Ordered Time -->
            <div class="col"> <strong>Shipping BY:</strong> <br> BLUEDART, | <i class="fa fa-phone"></i> +1598675986
            </div>
            <div class="col"> <strong>Expected Delivery Date:</strong> <br>{{ DeliveryDate[loop.index -1].strftime("%d %b %Y") }} </div>
            <!--Delivery Date --> 
          </div>
        </article>

        <!-- open a for loop again over here  -->

        <!-- summary of all your purchased items -->
        {% for order in item %}
        <div class="d-flex justify-content-between mt-1" style="font-size: 14px;">
          <span class="font-weight-bold">{{order.product_name }}(Qty - {{ order.product_quantity }})</span> <!-- item Name and Quantity -->
          <span class="text-muted">₹ {{ order.product_price }}</span> <!-- total price for that item -->
        </div>
        {% endfor %}
        <div class="d-flex justify-content-between">
          <small>Shipping</small>
          <small>Free</small>
        </div>

        <div class="d-flex justify-content-between mt-3" style="margin-bottom: 7px; font-size: 18px;">
          <span class="font-weight-bold">Total</span>
          <span class="font-weight-bold theme-color">{{ TotalPrice[loop.index -1]}}</span>
          <!--total price of the item -->
        </div>

      </div>
      <hr>
    {% else %}
    <!-- for single item purchased -->
    <div class="container">
        <!-- Loop through Purchased items -->

        <!-- Start of Purchase Orders -->

     {% for order in item %}
      <div class="card flex-md-row mb-4 box-shadow ">
        <!-- Image of the item -->
        <img class="card-img-right flex-auto d-none d-md-block" alt="Thumbnail [200x250]" style="width: 210px; height: 200px;" src="{{url_for('static', filename='images/product_images/' + order.product_image )}}" data-holder-rendered="true">
        <div class="card-body d-flex flex-column align-items-start" style="margin-left: 30px;">
          <h3 class="mb-0 text-dark" style="font-size: 25px;">
            {{ order.product_name}}
            <!-- Product Name -->
          </h3>

          <!-- Table Summary -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Quantity</th>
                <th scope="col">Invoice Number</th>
                <th scope="col">Mode Of Payment</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">{{ order.product_quantity }}</td> <!-- Quantity -->
                <td>{{ order.invoiceNumber }}</td> <!-- Invoice Number -->
                <td>COD</td>
              </tr>
            </tbody>
          </table>

          <!-- Price  -->
          <div class="d-flex flex-row justify-content-between align-items-center order">
            <div class="d-flex flex-column order-details">
              <h4 class="mt-3 mb-4 bold">
                <span class="mt-5">&#x20B9; {{ order.product_price }}</span> <!-- Total Price for a item -->
                <span class="small text-muted">
                  (Incl.Gst)
                </span>
              </h4>
            </div>
          </div>
          <!-- End of Price -->


        </div> <!-- closing of card-body -->
      </div> <!-- closing of card- flex -->
    </div> <!-- closing of container -->
    {% endfor %}
        <div class="container-fluid">

      <div class="d-flex justify-content-between">
        <span class="theme-color" style="font-size: 21px; font-weight: bolder;">
          Payment Summary
        </span>
        <div class="tracking-details">
          <form method="post">
            {{ form.cancelOrder(class="btn btn-danger")}}
            <input type="hidden" name="cancelPurchase" value="{{ checkedOutTime[loop.index -1] }}" >
          </form>
        </div>
      </div>

      <div class="mb-3">
        <hr class="new1">
      </div>

      
      <article class="card">
        <div class="card-body row">
          <div class="col"> <strong>Order Placed On:</strong> <br>{{ checkedOutTime[loop.index -1 ].strftime("%d %b %Y %H:%M") }}</div> <!-- Ordered Time -->
          <div class="col"> <strong>Shipping BY:</strong> <br> BLUEDART, | <i class="fa fa-phone"></i> +1598675986
          </div>
          <div class="col"> <strong>Expected Delivery Date:</strong> <br>{{ DeliveryDate[loop.index -1].strftime("%d %b %Y") }}</div>
          <!--Delivery Date -->
        </div>
      </article>

      <!-- summary of all your purchased items -->
      {% for order in item %}
      <div class="d-flex justify-content-between mt-1" style="font-size: 14px;">
        <span class="font-weight-bold">{{order.product_name }}(Qty - {{ order.product_quantity }})</span> <!-- item Name and Quantity -->
        <span class="text-muted">₹ {{ order.product_price }}</span> <!-- total price for that item -->
      </div>
      {% endfor %}
      <div class="d-flex justify-content-between">
        <small>Shipping</small>
        <small>Free</small>
      </div>
      <div class="d-flex justify-content-between mt-3" style="margin-bottom: 7px; font-size: 18px;">
        <span class="font-weight-bold">Total</span>
        <span class="font-weight-bold theme-color">₹ {{ TotalPrice[loop.index -1] }} </span>
        <!--total price of the item -->
      </div>
    </div>
    <hr>
    
 
    {% endif %}
    {% endfor %}
  </div> <!-- close of staring div for-loop-->


{% endblock body %}
