{% extends 'base.html'%} {% block head%} {% endblock %} {% block body%}

{% for item in shoppedItems %}
    {% if item|length > 1 %}
        {% for order in item %}
            <div style="width:85%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin: 2% 7.5%;">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <img class="card-img-right flex-auto d-none d-md-block" alt="Thumbnail [200x250]"
                        style="width: 200px; height: 250px;" src="{{url_for('static', filename='images/orders/p4.jpg')}}"
                        data-holder-rendered="true" />
                    <div class="card-body d-flex flex-column align-items-start" style="margin-left: 30px;">
                        <h3 class="mb-0 text-dark">
                            {{ order.product_name }}
                        </h3>
                        <div class="mb-1 text-muted">{{ order.checkoutTime.strftime("%d %b %Y %H:%M")}}</div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Quantity</th>

                                    <th scope="col">Invoice Number</th>
                                    <th scope="col">Mode Of Payment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">{{ order.product_quantity }}</td>
                                    <td>{{ order.invoiceNumber }}</td>
                                    <td>COD</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="font-weight-bold " style="padding:5px;">
                            Price : {{ order.product_price}}
                        </h3>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
            {% for order in item %}
                <div style="width:85%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin: 2% 7.5%;">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <img class="card-img-right flex-auto d-none d-md-block" alt="Thumbnail [200x250]"
                            style="width: 200px; height: 250px;" src="{{url_for('static', filename='images/orders/p4.jpg')}}"
                            data-holder-rendered="true" />
                        <div class="card-body d-flex flex-column align-items-start" style="margin-left: 30px;">
                            <h3 class="mb-0 text-dark">
                                {{ order.product_name }}
                            </h3>
                            <div class="mb-1 text-muted">{{ order.checkoutTime.strftime("%d %b %Y %H:%M")}}</div>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Quantity</th>

                                        <th scope="col">Invoice Number</th>
                                        <th scope="col">Mode Of Payment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">{{ order.product_quantity }}</td>
                                        <td>{{ order.invoiceNumber }}</td>
                                        <td>COD</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3 class="font-weight-bold " style="padding:5px;">
                                Price : {{ order.product_price}}
                            </h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
    {% endif%}
{% endfor %}

{% endblock %}