{% extends 'base.html'%}

{% block head%}
<style>
  body{
    background-color: rgb(234,237,237);
}

.product {
    padding: 20px ;
}

.row-adjustment{
    margin: 0%;
}





</style>

{% endblock %}

{% block body%}

<section class="product">

    
         
    <div class="row row-adjustment">
      
      <div class="col-lg-3 col-md-6 cardprop">
        <div class="card" style="width:18rem;">
          <img class="card-img-top" src="{{url_for('static', filename='images/product/24-260-313-01.jpg')}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Dell Model Number</h5>
            <a href="#" class="btn btn-large btn-block btn-outline-danger">View</a>
            <a href="#" class="btn btn-large btn-block btn-outline-success">Add To Cart</a>
          </div>
        </div>
      </div>
    

      <div class="col-lg-3 col-md-6">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static', filename='images/product/24-260-313-01.jpg')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Dell Model Number</h5>
              <a href="#" class="btn btn-large btn-block btn-outline-danger">View</a>
              <a href="#" class="btn btn-large btn-block btn-outline-success">Add To Cart</a>
            </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static', filename='images/product/24-260-313-01.jpg')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Dell Model Number</h5>
              <a href="#" class="btn btn-large btn-block btn-outline-danger">View</a>
              <a href="#" class="btn btn-large btn-block btn-outline-success">Add To Cart</a>
            </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static', filename='images/product/24-260-313-01.jpg')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Dell Model Number</h5>
              <a href="#" class="btn btn-large btn-block btn-outline-danger">View</a>
              <a href="#" class="btn btn-large btn-block btn-outline-success">Add To Cart</a>
            </div>
          </div>
      </div>
    

     <div class="col-lg-3 col-md-6">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static', filename='images/product/24-260-313-01.jpg')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Dell Model Number</h5>
              <a href="#" class="btn btn-large btn-block btn-outline-danger">View</a>
              <a href="#" class="btn btn-large btn-block btn-outline-success">Add To Cart</a>
            </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static', filename='images/product/24-260-313-01.jpg')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Dell Model Number</h5>
              <a href="#" class="btn btn-large btn-block btn-outline-danger">View</a>
              <a href="#" class="btn btn-large btn-block btn-outline-success">Add To Cart</a>
            </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static', filename='images/product/24-260-313-01.jpg')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Dell Model Number</h5>
              <a href="#" class="btn btn-large btn-block btn-outline-danger">View</a>
              <a href="#" class="btn btn-large btn-block btn-outline-success">Add To Cart</a>
            </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static', filename='images/product/24-260-313-01.jpg')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Dell Model Number</h5>
              <a href="#" class="btn btn-large btn-block btn-outline-danger">View</a>
              <a href="#" class="btn btn-large btn-block btn-outline-success">Add To Cart</a>
            </div>
          </div>
      </div>
    </div>
      

      
      

  

  
  
  </section>

{% endblock %}