{% extends 'base.html' %}

{% block head%}
    <style>
        .col{
            border: 2px solid #000;
            margin: 0.6rem;
        }
        p{
            color: #393e46;
        }
    </style>
{% endblock head%}
{% block body %}
    <div class="container">
        <div class="row">
        {% for item in items %}
            <div class="col">
                    <img src="{{url_for('static', filename='images/product_images/'+ item.product_images['image1']) }}" alt="">
                    <p>{{ item.product_name }}</p>
                    <p>Price &#8377; {{ item.product_price }}</p>
                    <p>Quantity left: {{ item.product_quantity_left }}</p>
                    <form method="POST" novalidate>
                        <input type="hidden" name="getId" value={{ item.product_id }}>
                        <button class="btn btn-success">Add To Cart</button>
                    </form>

                    <form method="post" novalidate>
                        <input type="hidden" name="product_id" value= {{ item.product_id}}>
                        <button class="btn btn-info">Add To Wishlist</button>
                    </form>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock body %}
