{% extends 'base.html' %}
{% block head%}
    <style>
        p{
            color: #ec4646;
        }
        .container-sm{
            padding: 200px;
        }
    </style>
{% endblock head%}

{% block body%}

 <div class="container-sm pt-5">
        <h3>Registration</h3>
        <hr>
         <form method="post" novalidate>
             {{ form.hidden_tag() }}

            <div class="form-group ">
                {{ form.username.label }}
                {{ form.username(class="form-control", placeholder="Enter Your Name Here") }}
                {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control", placeholder="Enter Your Email Here") }}
                {% for error in form.email.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control", placeholder="Enter Your Password Here") }}
                {% for error in form.password.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}
                {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
                {% for error in form.confirm_password.errors %}
                    <p>{{ error }}</p>
                {% endfor %}

            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
</div>

{% endblock body %}
