
/***********************************TAG SELECTORS *****************************/


/***********************************CLASS SELECTORS ***************************/



.nav-item{
  font-family: 'Ubuntu', sans-serif;  
  font-size: 1.3rem;
}

.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

/***********************************ID SELECTORS ******************************/
